<div class="dropdown-container">
  <input type="text"
         placeholder="Zoek een plek..."
         [(ngModel)]="searchTerm"
         (input)="filterOptions()"
         (click)="onInputClick()"
        class="search-input"
  />
  <ul *ngIf="isDropdownVisible && filteredOptions.length > 0 && searchTerm.length >= 2" class="options-list">
    <li *ngFor="let option of filteredOptions.slice(0, 20)"
        (click)="selectOption(option)"
        class="option-item">
      {{ option.name }}
    </li>
  </ul>
</div>
