@import '../../Utils/Variables.scss';

.dropdown-container {
  position: relative;
  z-index: 1000;
}

.search-input {
  width: 96%;
  padding: 10px 2% 10px 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  z-index: 1001;
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1002;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.option-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.option-item:hover {
  background-color: #f0f0f0;
}

@media only screen and (max-width: $Media_width) {
  .options-list {
    position: fixed;
    top: auto;
    color: black;
  }

  .dropdown-container {
    width: 100%;
  }
}
