<section class="dialog-header">
  <span>Filter map</span>
  <div class="actions">
    <div (click)="onClose()" class="container-close-btn">
      <div class="circle">
        <div class="line one"></div>
        <div class="line two"></div>
      </div>
    </div>
  </div>
</section>
<div class="filter-container">
  <label>
    <input type="radio"
           name="options"
           [value]="'active'"
           [(ngModel)]="selectedOption" />
    Actieve molens
  </label>
  <br />
  <label>
    <input type="radio"
           name="options"
           [value]="'remaining'"
           [(ngModel)]="selectedOption" />
    Remaining
  </label>
  <br />
  <label>
    <input type="radio"
           name="options"
           [value]="'existing'"
           [(ngModel)]="selectedOption" />
    Existing
  </label>
  <br />
  <label>
    <input type="radio"
           name="options"
           [value]="'disappeared'"
           [(ngModel)]="selectedOption" />
    Disappeared
  </label>
  <div *ngIf="selectedOption == 'disappeared'">
    <select [(ngModel)]="provincie">
      <option value="">Kies een provincie</option>
      <option *ngFor="let prov of provincies" [value]="prov">{{ prov }}</option>
    </select>
  </div>
  <br />
  <button class="default-button" (click)="filterMap()">Filter</button>
</div>
