.filter-container {
  width: 300px;
  padding: 30px;
  margin-bottom: 50px;

  text-align: center;
}

.filter-container input[type="radio"] {
  display: none;
}

.filter-container label {
  display: inline-block;
  padding: 10px;
  width: 200px;
  line-height: 20px;
  margin-bottom: 5px;
  text-align: center;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: 2px solid #ddd;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-container input[type="radio"]:checked + label {
  background: rgba(0, 255, 0, 0.8);
  border-color: #007bff;
}

.filter-container label:hover {
  border-color: #2bff00;
}

.remove-filter-container {
  text-align: left;
}

.remove-filter-button {
  background-color: #28a74665;
  color: black;
  border: none;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.remove-filter-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.filter-button {
  margin: auto;
  width: 200px;
  margin-top: 40px;
}

.provincie-dropdown {
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #33b327;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  width: 200px;
  text-align: center;
}

.provincie-dropdown:hover {
  border-color: #00b368;
  background-color: #f2fff0;
}

.provincie-dropdown:focus {
  box-shadow: 0 0 5px rgba(0, 255, 21, 0.5);
}

.provincie-dropdown option {
  background-color: #ffffff;
  color: #333;
}

.provincie-dropdown .count {
  font-size: 0.8em;
  color: #666;
  margin-left: 5px;
}

.filter-container label {
  display: block;
  font-weight: bold;
  margin: 15px auto 5px;
  text-align: left;
}

.custom-select-wrapper {
  position: relative;
  width: 200px;
}

.custom-select-selected {
  padding: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
}

.custom-select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.custom-option {
  padding: 8px;
  cursor: pointer;
}

.custom-option:hover {
  background-color: #f0f0f0;
}

.dropdown-container {
  width: 250px;
  margin: auto;
}
.custom-dropdown-panel {
  color: red;
}
