@import '../Utils/Variables.scss';

.container, header {
  margin: auto;
  width: 80%;
}
.container {
  height: 80vh;
}

@media only screen and (max-width: $Media_width) {
  .container, header {
    width: 85%;
  }
  .container {
    height: 88vh;
  }
}
