.header {
  border-bottom: 1px solid black;
  font-size: 30px;
  padding: 8px 20px 8px 20px;
  font-weight:500;
}

.molenImage {
  border-radius: var(--mdc-dialog-container-shape, var(--mat-app-corner-extra-large, 4px));
}

.container {
  max-width:100vw;
  display: flex;
  height:90vh;
}
.data-left {
  width: 30%;
  padding: 10px;
}
.data-right {
  width: 40%;
  padding: 10px;
}

.molen-data {
  width: 40%;
  padding: 10px;
}

.molenImage {
  max-width: 100%;
  height:75%;
}

.image-selector {
  margin-top: 20px;
}

.image-preview img{
    width:auto;
}

.close-btn {
  border: none;
  color: white;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: red;
  border: 2px solid #f44336;
  border-radius:100%;
  float:right;
}

.close-btn:hover {
  background-color: #f44336;
  color: white;
}

input{
    width:100%;
}
