.molen-data {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.molen-data h2 {
  margin-top: 0;
}

.molenImage {
    width:100%;
    max-height:400px;
}
