<div class="molen-data" *ngIf="molen">
  <h2>{{ molen.name }}</h2>
  <img class="molenImage" *ngIf="molen.image" [src]="getImage(molen.image)" alt="{{ molen.name }}" />
  <p><strong>Type:</strong> {{ molen.functie }}</p>
  <p><strong>Ten Brugge Nr:</strong> {{ molen.ten_Brugge_Nr }}</p>
  <p><strong>Plaats:</strong> {{ molen.plaats }}</p>
  <p><strong>Adres:</strong> {{ molen.adres }}</p>
  <p><strong>Coordinates:</strong> (North: {{ molen.north }}, East: {{ molen.east }})</p>
  <p><strong>Bouwjaar:</strong> {{ molen.getBouwjaar }}</p>
  <p *ngIf="molen.herbouwd_jaar">
    <strong>Herbouwd:</strong> {{molen.herbouwd_jaar}}
  </p>

  <h3>Model Types:</h3>
  <ul>
    <li *ngFor="let model of molen.modelType">
      {{ model.name }}
    </li>
  </ul>
</div>
