@use "../../Utils/Variables.scss" as *;

.MapComponent {
  width: 95%;
  height: 90vh;
  min-height: 500px;
  margin: auto;
}

@media screen and (max-width: $Media_width) {
  .MapComponent {
    width: 100%;
    height: calc(100vh - 70px);
    min-height: 500px;
    margin-top: 70px;
  }
}
