<div class="container">
  <section class="dialog-header">
    <span>Foto uploaden</span>
    <div class="actions">
      <div *ngIf="!file" class="file-input-container">
        <input (change)="onFileSelected($event)" type="file" accept="image/*" id="fileInput" class="file-input" #fileUpload />
        <label for="fileInput" class="file-label">Choose File</label>
      </div>
      <div class="status" *ngIf="file">
        <section [ngSwitch]="status">
          <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
          <p *ngSwitchCase="'success'">✅ Done!</p>
          <p *ngSwitchCase="'fail'">❌ Error!</p>
          <p *ngSwitchDefault>😶 Waiting to upload...</p>
        </section>
      </div>
      <div (click)="onClose()" class="container-close-btn">

        <div class="circle">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>

      </div>
    </div>
  </section>
  <section class="main">
    <div class="image-details">
      <div *ngIf="file">
        <section class="file-info">
          <button (click)="removeImg()" class="close-btn">&times;</button>
          <!--<br />
          <strong>File details:</strong>
          <ul>
            <li>Naam: {{file.name}}</li>
            <li>Type: {{file.type}}</li>
            <li>Size: {{file.size}} bytes</li>
          </ul>-->
        </section>
        <section class="api-key">
          <span>API Key: <input matInput type="text" name="username" [(ngModel)]="APIKey" autocomplete="off" /></span>
          <button class="default-button" (click)="onSubmit()">Upload the file</button>
        </section>
      </div>
    </div>

    <div class="image-preview" *ngIf="file && file.type.startsWith('image/')">
      <img [src]="imagePreview" alt="Selected Image" width="300" />
    </div>
  </section>
</div>
