<div class="selectedImage">
  <img [src]="data.selectedImage.image" alt="Alternate Text" />
  <div class="button-container">
    <div class="image-buttons">
      <button class="btn deleteButton" (click)="openDeleteDialog()"><i class="fas fa-trash"></i> Delete</button>
      <button class="btn download_btn" click="downloadImage()"><i class="fa fa-download"></i> Download</button>
    </div>
    <div>
      <div (click)="onClose()" class="container-close-btn">

        <div class="circle">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>

      </div>
    </div>
  </div>
</div>
