.confirmation-dialog {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.content-container{
    padding:15px;
}

header {
  border-bottom: 1px solid black;
  font-size: 30px;
  padding: 8px 8px 8px 15px;
  font-weight: 500;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  margin:0 10px 10px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.confirm_btn {
  color: #24d037;
}

.deny_btn{
    color:red;
}

.confirm_btn:hover {
  color: black;
  background-color: #24d037;
}

.deny_btn:hover {
  color: black;
  background-color: red;
}
